/* .app-header {
  font-size: 30px;
  border-bottom:1px solid crimson;
  padding: 0.4rem;
}

.app-footer {
  text-align: center;
  background-color: #cc6576;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
}

.hero {
  height: 100vh;
  background : url('./Asset/tamako.jpg') no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #ffffff;
}

.hero h1 {
  position: relative;
  font-size: 4rem;
  /* text-transform: uppercase; */
  /* text-align: center;
  background-color: rgba(0, 0, 0 ,0.6);
  padding: 2rem;
} */ 